/**************************************************************************
* Guide page css
* ***********************************************************************/
div[role="main"] .mainarticle .content {
/* initially this is 232px from the left*/
margin-left: 240px;
border: 4px solid #f99d33;
}

div[role="main"] .mainarticle .content.open {
/* initially this is 232px from the left*/
margin-left: 20px;
border: 4px solid #f99d33;
}

#guide-content-wrapper {
	display: block;
}

article.mainarticle {
	display: block;
}